<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Device</h5>

          <p><strong>ID</strong>: {{device.id}}</p>
          <p><strong>Device Id:</strong> {{device.deviceId}}</p>
          <p><strong>Type</strong>: {{device.type}}</p>
          <p><strong>Display Name</strong>: {{device.displayName}}</p>
          <p><strong>Facility</strong>: {{device.facility}}</p>
          <p><strong>Unit</strong>: {{device.unit}}</p>
          <p><strong>Sip</strong>: {{device.sip}}</p>
          <p><strong>Device Status</strong>: {{device.status}}</p>
          <p><strong>Device Notes</strong>: {{device.notes}}</p>
            
            <a href="/device/list">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
